# 02_data_school_sklearn_fit_transform

fit: transformer `learns` something about the data <br/>
transform: it `uses what it learned` to do the data transformation <br/>
fit_transform -> on training data <br/>
transform -> only testing/new data

In [57]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer, ColumnTransformer
from sklearn.impute import SimpleImputer, KNNImputer

In [38]:
train = pd.read_csv(r'./dataset/train.csv', sep=';')
X = train.drop(['PassengerId','Survived','Pclass', 'Name', 'Ticket', 'SibSp', 'Parch', 'Ticket', 'Cabin'], axis=1)
X = X.iloc[3:8]
print(X.columns.tolist())

['Sex', 'Age', 'Fare', 'Embarked']

In [48]:
X = X[['Fare', 'Embarked', 'Sex', 'Age']] #.reset_index(inplace=True)
X

      Fare Embarked     Sex   Age
3  53.1000        S  female  35.0
4   8.0500        S    male  35.0
5   8.4583        Q    male   NaN
6  51.8625        S    male  54.0
7  21.0750        S    male   2.0

In [66]:
ct = make_column_transformer(
    (OneHotEncoder(),['Embarked','Sex']),
    (SimpleImputer(),['Age']),     # asigna el promedio de 'Age' a los NaN's
    remainder='passthrough')

In [68]:
ct.fit_transform(X)

array([[ 0.    ,  1.    ,  1.    ,  0.    , 35.    , 53.1   ],
       [ 0.    ,  1.    ,  0.    ,  1.    , 35.    ,  8.05  ],
       [ 1.    ,  0.    ,  0.    ,  1.    , 31.5   ,  8.4583],
       [ 0.    ,  1.    ,  0.    ,  1.    , 54.    , 51.8625],
       [ 0.    ,  1.    ,  0.    ,  1.    ,  2.    , 21.075 ]])