# 07_data_school_sklearn_categorical_handle_unknown_categories

¿Qué hacer si en los datos de test aparecen categorías que no hemos visto durante el entrenamiento? <br/>
Se usa `handle_unknown = 'ignore'`

In [75]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder, LabelEncoder
from sklearn.compose import make_column_transformer, ColumnTransformer, make_column_selector
from sklearn.impute import SimpleImputer, KNNImputer

In [76]:
import warnings
warnings.filterwarnings("ignore")

In [77]:
train = pd.read_csv(r'./dataset/train.csv', sep=';')
X = train.drop(['PassengerId','Survived','Pclass', 'Name', 'Ticket', 'SibSp', 
                'Parch', 'Ticket', 'Cabin', 'Age', 'Fare', 'Embarked'], axis=1)
X = X.iloc[6:10]
X

      Sex
6    male
7    male
8  female
9  female

## OneHotEncoder

In [79]:
transformer = OneHotEncoder(sparse=False, handle_unknown= 'ignore')
transformed = transformer.fit_transform(X[['Sex']])

In [80]:
# de izquierda a derecha, las columnas se ordenana de forma alfabética (columna1:Sex_female, columna2:Sex_male)
transformed

array([[0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.]])

In [81]:
transformer.get_feature_names_out()  # se preguntan los nombres de las nuevas columnas al transformador

array(['Sex_female', 'Sex_male'], dtype=object)

In [82]:
SexDf = pd.DataFrame(transformed, columns=transformer.get_feature_names_out().tolist())
SexDf

   Sex_female  Sex_male
0         0.0       1.0
1         0.0       1.0
2         1.0       0.0
3         1.0       0.0

## Con nuevos datos

In [84]:
X_news = X_new = pd.DataFrame({'Sex':['male','female','male','transexual','female','male','transexual']})
X_news

          Sex
0        male
1      female
2        male
3  transexual
4      female
5        male
6  transexual

In [85]:
# case sensitive
# NO se crea una categoría nueva, mantiene las 2 del entrenamiento y pone valor 0 a los nuevos casos
transformer.transform(X_news[['Sex']])

array([[0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 0.],
       [1., 0.],
       [0., 1.],
       [0., 0.]])