# 08_data_school_sklearn_pipeline_chain_multiple_steps

¿Qué hace un pipeline? Encadena múltiples pasos, la salida de uno es la entrada del siguiente

In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder, LabelEncoder
from sklearn.compose import make_column_transformer, ColumnTransformer, make_column_selector
from sklearn.impute import SimpleImputer, KNNImputer
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.linear_model import LogisticRegression

In [28]:
import warnings
warnings.filterwarnings("ignore")

In [29]:
dataset = pd.read_csv(r'./dataset/train.csv', sep=';')
train = dataset.drop(['PassengerId','Pclass', 'Sex', 'Name', 'Ticket', 'SibSp', 
                'Parch', 'Ticket', 'Cabin', 'Embarked'], axis=1)
train = train.iloc[21:29]
train

    Survived   Age      Fare
21         1  34.0   13.0000
22         1  15.0    8.0292
23         1  28.0   35.5000
24         0   8.0   21.0750
25         1  38.0   31.3875
26         0   NaN    7.2250
27         0  19.0  263.0000
28         1   NaN    7.8792

In [30]:
test = dataset.drop(['PassengerId','Pclass', 'Sex', 'Name', 'Ticket', 'SibSp', 
                'Parch', 'Ticket', 'Cabin', 'Embarked', 'Survived'], axis=1)
test = test.iloc[0:9]
test

    Age     Fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500
5   NaN   8.4583
6  54.0  51.8625
7   2.0  21.0750
8  27.0  11.1333

## Pipeline

In [31]:
pipe = make_pipeline(
    SimpleImputer(),
    LogisticRegression()
)

In [32]:
features = ['Age','Fare']

In [33]:
X , y = train[features], train['Survived'] 
X_new = test[features]

In [35]:
# El pipeline primero imputa los NaN a X antes de hacer fit en el clasificador
pipe.fit(X,y)
# El pipeline primero imputa los NaN a X_new (con los valores del entrenamiento) antes de predecir las etiquetas
pipe.predict(X_new)

array([1, 1, 1, 1, 1, 1, 1, 0, 1], dtype=int64)