# 10_data_school_sklearn_random_state

'semilla' para generar un mismo número aleatorio <br/>

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder, LabelEncoder
from sklearn.compose import make_column_transformer, ColumnTransformer, make_column_selector
from sklearn.impute import SimpleImputer, KNNImputer
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split   # <---------

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [11]:
train = pd.read_csv(r'./dataset/train.csv', sep=';')

In [12]:
X = train.drop(['PassengerId','Pclass', 'Age', 'Name', 'Ticket', 'SibSp', 
                'Parch', 'Ticket', 'Cabin', 'Survived'], axis=1)
X = X.iloc[22:29]
X

       Sex      Fare Embarked
22  female    8.0292        Q
23    male   35.5000        S
24  female   21.0750        S
25  female   31.3875        S
26    male    7.2250        C
27    male  263.0000        S
28  female    7.8792        Q

In [13]:
y = train.drop(['PassengerId','Pclass', 'Age', 'Name', 'Ticket', 'SibSp', 
                'Parch', 'Ticket', 'Cabin', 'Sex', 'Fare', 'Embarked'], axis=1)
y = y.iloc[22:29]
y

    Survived
22         1
23         1
24         0
25         1
26         0
27         0
28         1

In [14]:
# cualquier entero positivo puede usarse como semilla de un número aleatorio (random_state)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.5, random_state = 1)
X_train

       Sex      Fare Embarked
26    male    7.2250        C
25  female   31.3875        S
27    male  263.0000        S

In [15]:
# usando el mismo random_state los resultados serán iguales
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.5, random_state = 1)
X_train

       Sex      Fare Embarked
26    male    7.2250        C
25  female   31.3875        S
27    male  263.0000        S

In [16]:
# usando diferente random_state los resultados serán diferentes
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.5, random_state = 2)
X_train

       Sex      Fare Embarked
28  female    7.8792        Q
27    male  263.0000        S
22  female    8.0292        Q

In [19]:
# si NO se seleciona random_state los valores también serán distintos
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.5)
X_train

       Sex     Fare Embarked
28  female   7.8792        Q
25  female  31.3875        S
26    male   7.2250        C