# 12_data_school_sklearn_pipeline_vs_make_pipeline

'pipeline' requiere asignar un nombre a cada estapa del pipelina  <br/>
'make_pipeline' los asigna automáticamente <br/>
(lo mismo sucede con 'ColumnTransformer' y 'make_column_transformer')

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder, LabelEncoder
from sklearn.compose import make_column_transformer, ColumnTransformer, make_column_selector   # <--------- 
from sklearn.impute import SimpleImputer, KNNImputer
from sklearn.experimental import enable_iterative_imputer  
from sklearn.impute import IterativeImputer 
from sklearn.pipeline import Pipeline, make_pipeline   # <--------- 
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [16]:
train = pd.read_csv(r'./dataset/train.csv', sep=';')

In [18]:
X = train.drop(['PassengerId', 'Name', 'Ticket', 'Sex', 
                'Parch', 'Ticket', 'Cabin','Embarked','Survived'], axis=1)
X = X.iloc[12:15]
X

    Pclass   Age  SibSp     Fare
12       3  20.0      0   8.0500
13       3  39.0      1  31.2750
14       3  14.0      0   7.8542

### Usando: make_pipeline, make_column_transformer

In [8]:
ct1 = make_column_transformer(
    (OneHotEncoder(),['Embarked','Sex']),
    (SimpleImputer(),['Age']),
    remainder = 'passthrough'
)

In [9]:
pipe1 = make_pipeline(ct1,LogisticRegression())

### Usando: Pipeline, ColumnTransformer

In [19]:
# mismo resultado pero requiere tener más cuidado con corchetes, paréntesis...
ct2 = ColumnTransformer(
    [('encoder', OneHotEncoder(),['Embarked','Sex']),
     ('imputer', SimpleImputer(),['Age'])],
    remainder = 'passthrough'
)

In [20]:
pipe2 = Pipeline([('preprocessor', ct2),('classifier',LogisticRegression())])