# 14_data_school_sklearn_handle_missing_values

1. Eliminar columnas que contengan NaN's <br/>
2. Eliminar folas que contengan NaN's <br/>
3. Imputar NAN's <br/>
4. Usar un modelo que gestione los NaN's <---------------- probaremos esto!

In [73]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder, LabelEncoder
from sklearn.compose import make_column_transformer, ColumnTransformer, make_column_selector
from sklearn.impute import SimpleImputer, KNNImputer
from sklearn.experimental import enable_iterative_imputer  
from sklearn.experimental import enable_hist_gradient_boosting   # <--------- 
from sklearn.ensemble import HistGradientBoostingClassifier   # <--------- 
from sklearn.impute import IterativeImputer 
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [74]:
import warnings
warnings.filterwarnings("ignore")

In [75]:
train = pd.read_csv(r'./dataset/train.csv', sep=';')
test = pd.read_csv(r'./dataset/test.csv', sep=',')

In [76]:
train = train.drop(['PassengerId', 'Name', 'Ticket', 'Sex', 'Parch', 
                    'Ticket', 'Cabin','Embarked','SibSp'], axis=1)

In [77]:
train.isna().sum()

Survived      0
Pclass        0
Age         177
Fare          0
dtype: int64

In [78]:
label = train.pop('Survived')
label.head(5)

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [79]:
train.head(5)

   Pclass   Age     Fare
0       3  22.0   7.2500
1       1  38.0  71.2833
2       3  26.0   7.9250
3       1  35.0  53.1000
4       3  35.0   8.0500

In [80]:
test = test.drop(['PassengerId', 'Name', 'Ticket', 'Sex', 'Parch', 
                  'Ticket', 'Cabin','Embarked','SibSp'], axis=1)

In [81]:
test.isna().sum()

Pclass     0
Age       86
Fare       1
dtype: int64

In [83]:
clf = HistGradientBoostingClassifier()

In [84]:
# ¡Nuevo! estimaro experimental con un soporte nativo de NaN's
# Requiere que todas las variables sean numéricas
clf.fit(train,label)
clf.predict(test)

array([0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0,
       1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1],
      dtype=int64)