In [1]:
import pandas as pd
url = 'https://github.com/lkuffo/leonardo-youtube/blob/master/Machine%20Learning/Pandas/dataset.csv?raw=true'
df = pd.read_csv(url, index_col=0)

In [3]:
df.head()

,full_text,favorites,retweets,mentions,country,user,followers,followees
id,,,,,,,,
183721,Flying home to run down from the power to comi...,23.0,NaN,10.0,ECUADOR,leonardokuffo,389.0,258
183722,Today we commemorate and MNML Case.,500.0,21.0,NaN,BRASIL,mateusmartins,982.0,1822
183723,Today we have reached US$6.55 Billion TT$44â€¦,190.0,123.0,6.0,MEXICO,pedrojuarez,12.0,129
183724,Faking It by Joel Atwell. Written by Other cou...,131.0,76.0,3.0,ECUADOR,galocastillo,332.0,378
183725,Welcome back! ðŸ™Œ,113.0,130.0,9.0,MEXICO,pedrojuarez,12.0,129

In [5]:
avfollowers = df.groupby(['country','user']).agg({
    'followers': "sum"
})
avfollowers

                         followers
country user
BRASIL  isabelladasilva      928.0
        lucasperes           328.0
        mateusmartins       4910.0
ECUADOR galocastillo        1328.0
        leonardokuffo       1556.0
MEXICO  gabrielcarvajal       63.0
        pedrojuarez           60.0

In [8]:
avfollowers = df.groupby(['country','user']).agg({
    'followers': "sum"
}).reset_index()
avfollowers

   country             user  followers
0   BRASIL  isabelladasilva      928.0
1   BRASIL       lucasperes      328.0
2   BRASIL    mateusmartins     4910.0
3  ECUADOR     galocastillo     1328.0
4  ECUADOR    leonardokuffo     1556.0
5   MEXICO  gabrielcarvajal       63.0
6   MEXICO      pedrojuarez       60.0

### from: https://platform.stratascratch.com/coding/9814-counting-instances-in-text?code_type=2

In [31]:
google_file_store = pd.DataFrame(
    {'contents':['The stock exchange predicts a bull market which would make many investors happy.',
                 'The stock exchange predicts a bull market which would make many investors happy, but analysts warn of possibility of too much optimism and that in fact we are awaiting a bear market.',
                 'The stock exchange predicts a bull market which would make many investors happy, but analysts warn of possibility of too much optimism and that in fact we are awaiting a bear market. As always predicting the future market is an uncertain game and all investors should follow their instincts and best practices.'
                ]})

In [35]:
google_file_store

                                            contents
0  The stock exchange predicts a bull market whic...
1  The stock exchange predicts a bull market whic...
2  The stock exchange predicts a bull market whic...

### best solution

In [20]:
df = google_file_store
"bull", df["contents"].apply(lambda x: x.count(" bull ")).sum()

('bull', 3)

In [36]:
# Import your libraries
import pandas as pd

# Start writing code
df = google_file_store
results = pd.DataFrame(data = [
     ["bull", df["contents"].apply(lambda x: x.count(" bull ")).sum()],
     ["bear", df["contents"].apply(lambda x: x.count(" bear ")).sum()]
     ], columns=["word", "netry"])

In [37]:
results

   word  netry
0  bull      3
1  bear      2

### Keith Galil solution

In [44]:
# Import your libraries
import pandas as pd
import re
# Start writing code
gfs = google_file_store

In [47]:
gfs['bull'] = gfs['contents'].apply(lambda text:len(re.findall(r"\bbull\b",text)))
gfs['bear'] = gfs['contents'].apply(lambda text:len(re.findall(r"\bbear\b",text)))
gfs

                                            contents  bull  bear
0  The stock exchange predicts a bull market whic...     1     0
1  The stock exchange predicts a bull market whic...     1     1
2  The stock exchange predicts a bull market whic...     1     1

In [49]:
gfs[['bull','bear']].sum().reset_index()

  index  0
0  bull  3
1  bear  2

### my solution

In [23]:
# Import your libraries
import pandas as pd
import re
# Start writing code
text = google_file_store[['contents']].reset_index()
text

   index                                           contents
0      0  The stock exchange predicts a bull market whic...
1      1  The stock exchange predicts a bull market whic...
2      2  The stock exchange predicts a bull market whic...

In [24]:
countBull = 0
countBear = 0
for index, row in text.iterrows():
    countBull = countBull + sum(1 for match in re.finditer(r"\bbull\b", row['contents']))
    countBear = countBear + sum(1 for match in re.finditer(r"\bbear\b", row['contents']))
result = pd.DataFrame({'word':['bull','bear'],'netry':[countBull,countBear]})
result

   word  netry
0  bull      3
1  bear      2

### from: https://platform.stratascratch.com/coding/9782-customer-revenue-in-march?code_type=2

### best solution

In [ ]:
# Start writing code
orders.loc[orders.order_date.dt.to_period('M') == '2019-03',['cust_id', 'total_order_cost']].groupby('cust_id', as_index=False).sum().sort_values('total_order_cost', ascending=False)

### Keith Galil solution

In [ ]:
MARCH = 3
orders['order_year'] = orders['order_date'].dt.year
orders['order_month'] = orders['order_date'].dt.month

march_orders = orders[(orders['order_year'] == 2009) & (orders['order_month'] == MARCH)]
march_totals = march_orders.groupby(["cust_id"]).sum().reset_index().[["cust_id","total_order_cost"]]
final_result = march_totals.sort_values('total_order_cost', ascending=False)
final_result

### my solution

In [ ]:
# Import your libraries
import pandas as pd

# Start writing code
df = orders
df = df[df['order_date'].dt.month == 3]
df = df[df['order_date'].dt.year == 2019]
df.groupby("cust_id").agg({"total_order_cost": "sum"}).reset_index().sort_values('total_order_cost', ascending=False)

### from: https://platform.stratascratch.com/coding/10319-monthly-percentage-difference?code_type=2

### best solution

In [ ]:
# Import your libraries
import pandas as pd

# Start writing code
sf_transactions.head()
res = sf_transactions.set_index('created_at')['value'].resample('M').sum().pct_change()*100
res.round(2).to_period().reset_index()

### Keith Galil solution

### my solution

In [ ]:
import pandas as pd
import datetime

# Start writing code
df = sf_transactions
df['created_at'] = df['created_at'].dt.strftime('%Y-%m')
month = df.groupby(df['created_at']).agg({"value":"sum"}).reset_index()
c = ['']
for i in range (len(month.value)-1):
    c.append(round(((month.value[i+1]/month.value[i])-1)*100,2))
month['revenue_diff_pct'] = c
month.loc[:,['created_at','revenue_diff_pct']]