# Lambda
Son una manera compacta de escribir una función si solo necesitas una expresión corta. <br/>
Lambda function is just like any normal python function, except that it has no name when defining it, and it is contained in one line of code.

In [64]:
# Una función lambda evalúa una expresión para un argumento dado
# lambda argument(s): expression

## Sintaxis

In [65]:
#Normal python function
def a_name(x):
    return x+x

In [66]:
#Lambda function
# x -> argument
# x+x -> expression 
lambda x: x+x

### Pros:
1. Good for simple logical operations that are easy to understand. This makes the code more readable too.
2. Good when you want a function that you will use just one time.

### Cons:
1. They can only perform one expression. It’s not possible to have multiple independent operations in one lambda function.
2. Bad for operations that would span more than one line in a normal `def` function (For example nested conditional operations). If you need a minute or two to understand the code, use a named function instead.
3. Bad because you can’t write a doc-string to explain all the inputs, operations, and outputs as you would in a normal `def` function.

# Casos de uso

### 1. Valores escalares
Cuando se ejecuta una función lambda sobre un solo valor.

In [67]:
# La función es creada e inmediatamente ejecutada
(lambda x: x*2)(12)

24

### 2. Listas
La función retorna sólo los valores que cumplen cierto criterio

In [68]:
# Tener en cuenta que la función de filtro devuelve un 'objeto de filtro' y debe encapsularlo con una lista 
# para devolver los valores.
list_1 = [1,2,3,4,5,6,7,8,9]

#### 2.1. filter()
Sintaxis: `filter(function, iterable)`

In [69]:
filter(lambda x: x%2==0, list_1)

In [70]:
list(filter(lambda x: x%2==0, list_1))

[2, 4, 6, 8]

#### 2.2. map()
Sintaxis: `map(function, iterable)`

In [71]:
cubed = map(lambda x: pow(x,3), list_1)
list(cubed)

[1, 8, 27, 64, 125, 216, 343, 512, 729]

## 3. Lambda en objetos tipo Serie
Es una columna de un DataFrame, o puesto de otra manera, es una secuencia de valores con sus índices correspondientes

In [72]:
import pandas as pd
df = pd.DataFrame({
    'Name': ['Luke','Gina','Sam','Emma'],
    'Status': ['Father', 'Mother', 'Son', 'Daughter'],
    'Birthyear': [1976, 1984, 2013, 2016],
})

In [73]:
df

   Name    Status  Birthyear
0  Luke    Father       1976
1  Gina    Mother       1984
2   Sam       Son       2013
3  Emma  Daughter       2016

### 3.1. Lambda con la función apply() de Pandas. 
Ésta función aplica una operación a cada elemento de la columna

In [74]:
df['age'] = df['Birthyear'].apply(lambda x: 2023-x)
df

   Name    Status  Birthyear  age
0  Luke    Father       1976   47
1  Gina    Mother       1984   39
2   Sam       Son       2013   10
3  Emma  Daughter       2016    7

### 3.2. Lambda con la función filter() de Python. 
Esto toma 2 argumentos:
1. Una función lambda con una expresión de condición
2. Una iterable que para nosotros es un objeto de serie. <br/>

Devuelve una lista de valores que satisfacen la condición.

In [75]:
list(filter(lambda x: x>18, df['age']))

[47, 39]

### 3.3. Lambda con la función Map() de Pandas. 
Map funciona muy parecido a apply() modificando los valores de una columna basados en la expresión.

In [76]:
df['double_age'] = df['age'].map(lambda x: x*2)
df

   Name    Status  Birthyear  age  double_age
0  Luke    Father       1976   47          94
1  Gina    Mother       1984   39          78
2   Sam       Son       2013   10          20
3  Emma  Daughter       2016    7          14

### 3.4. Operaciones condicionales
Retornan diferentes valores basados en ciertos criterios

In [77]:
# El siguiente código devuelve 'Masculino' si el valor de Estatus es padre o hijo, y devuelve 'Femenino' de lo contrario. 
# Tener en cuenta que apply() y map() son intercambiables en este contexto.
df['Gender1'] = df['Status'].map(lambda x: 'Male' if x=='Father' or x=='Son' else 'Female')
df

   Name    Status  Birthyear  age  double_age Gender1
0  Luke    Father       1976   47          94    Male
1  Gina    Mother       1984   39          78  Female
2   Sam       Son       2013   10          20    Male
3  Emma  Daughter       2016    7          14  Female

In [78]:
df['Gender2'] = df['Status'].apply(lambda x: 'Male' if x=='Father' or x=='Son' else 'Female')
df

   Name    Status  Birthyear  age  double_age Gender1 Gender2
0  Luke    Father       1976   47          94    Male    Male
1  Gina    Mother       1984   39          78  Female  Female
2   Sam       Son       2013   10          20    Male    Male
3  Emma  Daughter       2016    7          14  Female  Female

## 4. Lambda en objetos tipo Dataframe

In [79]:
# Convertir a minúsculas
# En el siguiente ejemplo, usamos apply en un dataframe y seleccionamos las columnas para modificar en la función Lambda. 
# Tener en cuenta que aquí debemos usar axis=1 para que la expresión se aplique a la columna.
df[['Name','Status']] = df.apply(lambda x: x[['Name','Status']].str.lower(), axis=1)
df

   Name    Status  Birthyear  age  double_age Gender1 Gender2
0  luke    father       1976   47          94    Male    Male
1  gina    mother       1984   39          78  Female  Female
2   sam       son       2013   10          20    Male    Male
3  emma  daughter       2016    7          14  Female  Female

### Casos de uso desaconsejados
### 4.1. Asignar un nombre a una función Lambda
Porque Lambda crea una función anónima que no está destinada a ser almacenada. <br/>
En su lugar, utilice una función def normal si desea almacenar la función para su reutilización.

In [83]:
#Bad
triple = lambda x: x*3

triple(2)

6

In [84]:
#Good
def triple(x):
     return x*3

triple(2)

6

### 4.2. Pasar funciones dentro de funciones lambda
Usar funciones como abs que solo toman `un argumento` numérico es innecesario con Lambda porque puedes pasar directamente la función a map() o apply().

In [121]:
list_3 = [0.96,-3.52,-14.7,-4.2]

In [122]:
# Mal, la función usa sólo un argumento -> x
list(map(lambda x:abs(x), list_3))

[0.96, 3.52, 14.7, 4.2]

In [123]:
#Bien, mismo resultado sin necesidad de uso de una función lambda
list(map(abs, list_3))

[0.96, 3.52, 14.7, 4.2]

Idealmente, las funciones dentro de las funciones lambda `deben tomar dos o más argumentos`.

In [124]:
# Bien, la función usa 2 argumentos -> (x,2)
list(map(lambda x: round(pow(x, 2),1), list_3))

[0.9, 12.4, 216.1, 17.6]

In [125]:
# Bien
list(map(lambda x: int(pow(x, 2)), list_3))

[0, 12, 216, 17]

### 4.3. Uso de funciones Lambda cuando varias líneas de código son más legibles
Un ejemplo es cuando está usando sentencias if-else dentro de la función lambda.

In [126]:
df = pd.DataFrame({
    'Name': ['Luke','Gina','Sam','Emma'],
    'Status': ['Father', 'Mother', 'Son', 'Daughter'],
    'Birthyear': [1976, 1984, 2013, 2016],
})

In [128]:
df['Gender'] = df['Status'].map(lambda x: 'Male' if x=='Father' or x=='Son' else 'Female')
df

   Name    Status  Birthyear  Gender
0  Luke    Father       1976    Male
1  Gina    Mother       1984  Female
2   Sam       Son       2013    Male
3  Emma  Daughter       2016  Female

Los mismos resultados se pueden lograr con el siguiente código. <br/>
Con él puedes tener un sinfín de condiciones y el código es lo suficientemente simple de seguir.

In [129]:
df['Gender2'] = ''
df.loc[(df['Status'] =='Father') | (df['Status']=='Son'), 'Gender2'] = 'Male'
df.loc[(df['Status'] =='Mother') | (df['Status']=='Daughter'), 'Gender2'] = 'Female'
df

   Name    Status  Birthyear  Gender Gender2
0  Luke    Father       1976    Male    Male
1  Gina    Mother       1984  Female  Female
2   Sam       Son       2013    Male    Male
3  Emma  Daughter       2016  Female  Female

# Otro ejemplo....

In [2]:
# Función estándar
def area_triangulo (base,altura):
    return (base*altura)/2
print(area_triangulo(5,7))

17.5

In [3]:
# Función lambda
area_triangulo = lambda base,altura : (base*altura)/2
print(area_triangulo(5,7))

17.5