## 01_SelectLastFile

Autor: Carlos Wong <br/>
email: carlosawongca@gmail.com <br/>
Fecha: 2023_03_19 <br/>
Objetivo: Guardado de fichero base con fecha y hora en el nombre, recuperación del más reciente <br/>
Entrada: 'df_base.xlsx' <br/>
Salida: df_base_20230304_1544.xlsx <br/>
Propósito: Prueba diferentes componentes del proyecto Project Management_Data Analyst <br/>

In [11]:
# librerías estándar
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import os

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
# extracción de datasets (ri: reasignación interna)
df = pd.read_excel(r'.\df_base.xlsx')
df

   Col0    Col1     Col2  Col3
0  Row0    Agua      Ana     1
1  Row1   Fuego  Valeria     2
2  Row2  Tierra   Amparo     3
3  Row3    Aire   Carlos     4

In [21]:
df.to_excel(f'./dataset/df_base_{format(pd.datetime.now().strftime("%Y%m%d_%H%M"))}.xlsx', index=False)

## Programa

In [22]:
# Especifica el directorio donde se encuentran los archivos Excel
dir_path = '.\dataset'

# Obtiene la lista de archivos en el directorio
file_list = os.listdir(dir_path)
file_list

['df_base_20230316_1605.xlsx',
 'df_base_20230318_1556.xlsx',
 'df_base_20230319_1555.xlsx',
 'df_base_20230319_1606.xlsx']

In [23]:
# Filtra la lista para obtener solo los archivos de Excel con el prefijo 'df_base'
excel_files = [f for f in file_list if f.startswith('df_base') and f.endswith('.xlsx')]
excel_files

['df_base_20230316_1605.xlsx',
 'df_base_20230318_1556.xlsx',
 'df_base_20230319_1555.xlsx',
 'df_base_20230319_1606.xlsx']

In [25]:
# Si no se encontraron archivos de Excel, muestra un mensaje y termina el programa
if len(excel_files) == 0:
    print('No se encontraron archivos de Excel.')
    quit()

# Ordena la lista de archivos por fecha de modificación (la fecha más reciente al final)
excel_files.sort(key=lambda x: os.path.getmtime(os.path.join(dir_path, x)))
excel_files

['df_base_20230319_1555.xlsx',
 'df_base_20230318_1556.xlsx',
 'df_base_20230316_1605.xlsx',
 'df_base_20230319_1606.xlsx']

In [26]:
# Lee el archivo de Excel más reciente en un DataFrame de pandas
# Se cambian manualmente los datos del último fichero para comprobar que carga éstos datos
df = pd.read_excel(os.path.join(dir_path, excel_files[-1]))

In [28]:
# Ahora puedes usar el DataFrame 'df' para hacer lo que necesites
df

   Col0    Col1     Col2  Col3
0  Row0   Coche     Jhon     6
1  Row1   Avion     Mike     7
2  Row2  Canica    Patty     8
3  Row3    Lata  Charles     9