## 02_SaveDfToJsonDateHour

Autor: Carlos Wong <br/>
email: carlosawongca@gmail.com <br/>
Fecha: 2023_03_19 <br/>
Objetivo: Guardado de datos de un DF en formato JSON incluyendo fecha_hora de cada registro <br/>
Entrada: 'df_base.xlsx' <br/>
Salida: df_base.json <br/>
Propósito: Prueba diferentes componentes del proyecto Project Management_Data Analyst <br/>

In [45]:
# librerías estándar
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import json
import os

In [46]:
import warnings
warnings.filterwarnings("ignore")

In [47]:
# extracción de dataset
df = pd.read_excel(r'.\df_base_2.xlsx')
df

   Col0   Col1    Col2
0  Ref1  Water    Jhon
1  Ref2   Fire    Mike
2  Ref3   Wind  Arnold

## 01_Extracción de datos de forma individual

In [53]:
# Función que convierte una entrada de tres elementos en un diccionario de un solo elemento que contiene el valor original, 
# la fecha y la hora.
def convert_to_json(col_name, row_name, value):
    now = datetime.now()
    date_time = now.strftime("%Y-%m-%d %H:%M")
    json_dict = {f"{col_name} - {row_name}": {"value": value, "date_time": date_time}}
    return json_dict

In [58]:
# convierte cada celda del DataFrame df en un diccionario en formato JSON y lo agrega a la lista json_list.
json_list = []
for col_name in df.columns:
    for index, row in df.iterrows():
        row_name = row['Col0']
        value = row[col_name]
        json_dict = convert_to_json(col_name, row_name, value)
        json_list.append(json_dict)
json_list

[{'Col0 - Ref1': {'value': 'Ref1', 'date_time': '2023-03-20 12:12'}},
 {'Col0 - Ref2': {'value': 'Ref2', 'date_time': '2023-03-20 12:12'}},
 {'Col0 - Ref3': {'value': 'Ref3', 'date_time': '2023-03-20 12:12'}},
 {'Col1 - Ref1': {'value': 'Water', 'date_time': '2023-03-20 12:12'}},
 {'Col1 - Ref2': {'value': 'Fire', 'date_time': '2023-03-20 12:12'}},
 {'Col1 - Ref3': {'value': 'Wind', 'date_time': '2023-03-20 12:12'}},
 {'Col2 - Ref1': {'value': 'Jhon', 'date_time': '2023-03-20 12:12'}},
 {'Col2 - Ref2': {'value': 'Mike', 'date_time': '2023-03-20 12:12'}},
 {'Col2 - Ref3': {'value': 'Arnold', 'date_time': '2023-03-20 12:12'}}]

## 02_Creación de un fichero .json tomando como base una lista

In [63]:
with open(f".\jsons\data.json", "w") as outfile:
    json.dump(json_list, outfile)

## 03_Extracción del fichero JSON

In [56]:
with open(".\jsons\data.json") as f:
    data = json.load(f)
data

[{'Col0 - Ref1': {'value': 'Ref1', 'date_time': '2023-03-20 12:06'}},
 {'Col0 - Ref2': {'value': 'Ref2', 'date_time': '2023-03-20 12:06'}},
 {'Col0 - Ref3': {'value': 'Ref3', 'date_time': '2023-03-20 12:06'}},
 {'Col1 - Ref1': {'value': 'Water', 'date_time': '2023-03-20 12:06'}},
 {'Col1 - Ref2': {'value': 'Fire', 'date_time': '2023-03-20 12:06'}},
 {'Col1 - Ref3': {'value': 'Wind', 'date_time': '2023-03-20 12:06'}},
 {'Col2 - Ref1': {'value': 'Jhon', 'date_time': '2023-03-20 12:06'}},
 {'Col2 - Ref2': {'value': 'Mike', 'date_time': '2023-03-20 12:06'}},
 {'Col2 - Ref3': {'value': 'Arnold', 'date_time': '2023-03-20 12:06'}}]

## 04_Conversión del fichero JSON en un dataframe

In [57]:
# Crear un diccionario para cada fila del DataFrame
rows_dict = {}
for d in data:
    for k, v in d.items():
        col_name, row_name = k.split(' - ')
        if row_name not in rows_dict:
            rows_dict[row_name] = {}
        rows_dict[row_name][col_name] = v['value']

# Crear el DataFrame a partir del diccionario
df = pd.DataFrame.from_dict(rows_dict, orient='index')

# establecer el índice
df = df.set_index([pd.Index([i for i in range(len(df))])])

df

   Col0   Col1    Col2
0  Ref1  Water    Jhon
1  Ref2   Fire    Mike
2  Ref3   Wind  Arnold