# filter_substrings

Autor: Carlos Wong <br/>
Fecha: 2023_03_14  <br/>
Tipo de problema: FILTRADO de datos <br/>
Entrada: prueba_1.xlsx  <br/>
Salidas: prueba_1_1.xlsx  <br/>
Propósito: Diseño y Control

In [1]:
# librerías estándar
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# extracción de datasets (ri: reasignación interna)
ri = pd.read_excel(r'.\prueba_1.xlsx')

In [3]:
ri.head()

  nombre                                   cable_fibra
0       a  Z.TO RO01 /Z.001094EN001/00064/F/001/00064'
1       b     Z.TO RO01 /Z.TO RO02 /00128/F/001/00017'
2       c     Z.TO ADO 4/Z.TO ADO 5/00064/F/001/00041'
3       d     Z.BR RO05 /Z.TO RO01 /00256/F/003/00008'
4       e     Z.TO RO08 /Z.TO RO01 /00128/F/005/00033'

### Se desea filtrar las filas que contengan el sub string 'Z.TO ' repetido 2 veces

In [4]:
filtro = ri['cable_fibra'].str.count('Z.TO ') == 2
ri_filtrado = ri[~filtro]
ri_filtrado

  nombre                                   cable_fibra
0       a  Z.TO RO01 /Z.001094EN001/00064/F/001/00064'
3       d     Z.BR RO05 /Z.TO RO01 /00256/F/003/00008'

In [10]:
# Cruzar las tablas por la columna 'asigna'
df_merged = pd.merge(ro, ri, left_on='asigna', right_on='ASIGNACION')

# Filtrar y contar los valores únicos
df_access = df_merged.loc[df_merged['TIPO PORTADOR'] == 'ACCESO'].groupby('arbol_cable').nunique()
df_transp = df_merged.loc[df_merged['TIPO PORTADOR'] == 'TRANSPORTE'].groupby('arbol_cable').nunique()

# Unir las dos tablas resultantes
df_result = pd.concat([df_access['asigna'], df_transp['asigna']], axis=1, keys=['TIPO PORTADOR ACCESSO', 'TIPO PORTADOR TRANSPORTE'])

# Rellenar los valores nulos con 0
df_result.fillna(0, inplace=True)

# Imprimir la tabla resultante
print(df_result)

                TIPO PORTADOR ACCESSO  TIPO PORTADOR TRANSPORTE
arbol_cable
A                                   1                       0.0
A-10/TR.1                           8                       0.0
A-11/TR.1                          20                       0.0
A-11/TR.2                          20                       0.0
A-4/CR.451                          1                       0.0
A-4/PTRO-1830                       1                       0.0
A-7/TR.1                           17                       0.0
A-8/TR.1                            4                       0.0
A-9/TR.1                           29                       0.0
A11                                 1                       0.0
A114                                1                       0.0
ADO2-GALC                           2                       0.0
ADO2/PTRO-1234                      2                       0.0
ADO2/PTRO-1442                      1                       0.0
BT PTRO 2837                        1                       0.0
CRMO-GALC                           2                       0.0
E-1                                24                       3.0
E-1 IRIS                           17                       2.0
E-3 OBAS                            1                       0.0
ENLACE                             21                      11.0
PTR0-1896                           1                       0.0
PTR0-1896/1897                      1                       0.0
PTR0-680                            1                       0.0
PTRO-1414                           1                       0.0
PTRO-605                            3                       0.0
PTRO-872                            1                       0.0
PTRO-88                             1                       0.0
TR-1                               17                       0.0
TR-1 TR-2                          73                       0.0
TR-1 TR-2 TR-3                     20                       0.0
TR-18                              14                       0.0

In [11]:
df_result = df_result.sort_values(by=['TIPO PORTADOR ACCESSO'], ascending=False)
print(df_result)

                TIPO PORTADOR ACCESSO  TIPO PORTADOR TRANSPORTE
arbol_cable
TR-1 TR-2                          73                       0.0
A-9/TR.1                           29                       0.0
E-1                                24                       3.0
ENLACE                             21                      11.0
A-11/TR.1                          20                       0.0
A-11/TR.2                          20                       0.0
TR-1 TR-2 TR-3                     20                       0.0
A-7/TR.1                           17                       0.0
TR-1                               17                       0.0
E-1 IRIS                           17                       2.0
TR-18                              14                       0.0
A-10/TR.1                           8                       0.0
A-8/TR.1                            4                       0.0
PTRO-605                            3                       0.0
CRMO-GALC                           2                       0.0
ADO2/PTRO-1234                      2                       0.0
ADO2-GALC                           2                       0.0
BT PTRO 2837                        1                       0.0
ADO2/PTRO-1442                      1                       0.0
E-3 OBAS                            1                       0.0
PTR0-1896                           1                       0.0
PTR0-1896/1897                      1                       0.0
PTR0-680                            1                       0.0
PTRO-1414                           1                       0.0
A114                                1                       0.0
PTRO-872                            1                       0.0
PTRO-88                             1                       0.0
A11                                 1                       0.0
A-4/PTRO-1830                       1                       0.0
A-4/CR.451                          1                       0.0
A                                   1                       0.0

In [12]:
df_result['TIPO PORTADOR ACCESSO']

arbol_cable
TR-1 TR-2         73
A-9/TR.1          29
E-1               24
ENLACE            21
A-11/TR.1         20
A-11/TR.2         20
TR-1 TR-2 TR-3    20
A-7/TR.1          17
TR-1              17
E-1 IRIS          17
TR-18             14
A-10/TR.1          8
A-8/TR.1           4
PTRO-605           3
CRMO-GALC          2
ADO2/PTRO-1234     2
ADO2-GALC          2
BT PTRO 2837       1
ADO2/PTRO-1442     1
E-3 OBAS           1
PTR0-1896          1
PTR0-1896/1897     1
PTR0-680           1
PTRO-1414          1
A114               1
PTRO-872           1
PTRO-88            1
A11                1
A-4/PTRO-1830      1
A-4/CR.451         1
A                  1
Name: TIPO PORTADOR ACCESSO, dtype: int64

In [15]:
arbol_cable = 'TR-1 TR-2'
tipo_portador = 'ACCESO'

codigos = df_merged.loc[(df_merged['arbol_cable'] == arbol_cable) & (df_merged['TIPO PORTADOR'] == tipo_portador), 'asigna'].tolist()

print(codigos)

['S.TA000SFO01 /S.OR FUS 1/DP /U3OENM/00044905/BTTELECOM', 'S.TA0012 /S.TA0035 /DP /XXILFO/39860693/UNIVESEVI', 'S.TA0012 /S.TA0035 /DP /XXILFO/39860693/UNIVESEVI', 'S.TA0005 /S.TA ETH 1/DP /T1ETH /33246502/LQ2900463G', 'S.BE0014 /S.TA ETH 1/DP /T1ETHT/22421905/MINISDEFE', 'S.TA /S.TA /DP /X0ETHD/24810596/ESTRATEL', 'S.TA /S.TA /DP /X0ETHD/24810596/ESTRATEL', 'S.TA0271 /S.TA ETH 1/DP /T1ETH /29366400/MINISDEFE', 'S.TA0170FO01 /S.TA ETH 1/DP /FCETH /14152397/SERVIANSA3', 'S.TA0170FO01 /S.TA ETH 1/DP /FCETH /14152784/SERVIANSA3', 'S.TA /S.TA /DP /T1MTH /11747013/SERVIANSA3', 'S.TA /S.TA /DP /T1MTH /11747013/SERVIANSA3', 'S.TA0137 /S.TA ETH 1/DP /FCETH /67534032/SERVIANSA3', 'S.TA0290FO01 /S.TA ETH 1/DP /U3MTH /35061617/LG41029331', 'S.TA0290FO01 /S.TA ETH 1/DP /U3MTH /35061617/LG41029331', 'S.TA /S.TA /DP /FCETH /78114647/LA63749816', 'S.TA /S.TA ETH 1/DP /X0AETH/73699194/TELEFSEMO', 'S.OR0007 /S.TA0010 /DP /WD4H /01275741/LA58443060', 'S.OR0007 /S.TA0010 /DP /WD4H /01275741/LA58443060', 'S.TA0052FO01 /S.TA ETH 1/DP /X0ETH /23368889/LB87324844', 'S.TA0055TX01 /S.TA ETH 1/DP /X0AETH/25361900/TELEFSEMO', 'S.TA0055TX01 /S.TA ETH 1/DP /X0AETH/25361900/TELEFSEMO', 'S.TA0055TX01 /S.TA ETH 1/DP /X0AETH/25361900/TELEFSEMO', 'S.TA0055TX01 /S.TA ETH 1/DP /X0AETH/25361900/TELEFSEMO', 'S.TA0215FO01 /S.TA ETH 1/DP /FCETH /34611180/LA58443060', 'S.TA0215FO01 /S.TA ETH 1/DP /FCETH /34611180/LA58443060', 'S.TA0238FO01 /S.TA ETH 1/DP /FCETH /37365061/SERVIANSA3', 'S.TA0238FO01 /S.TA ETH 1/DP /FCETH /37365061/SERVIANSA3', 'S.TA0320FO02 /S.TA ETH 1/DP /X0MCC /60425143/LQ2800041B', 'S.TA0320FO02 /S.TA ETH 1/DP /X0MCC /60425143/LQ2800041B', 'S.TA TR01 /S.TA0027TX01 /SF/P/N4X2 /0001', 'S.TA TR01 /S.TA0027TX01 /SF/P/N4X2 /0001', 'S.TA TR01 /S.TA0027TX01 /SF/P/N4X2 /0001', 'S.TA TR01 /S.TA0027TX01 /SF/P/N4X2 /0001', 'S.TA0027FO02 /S.TA ETH 1/DP /FCETH /60002934/LA28425270', 'S.TA0027FO02 /S.TA ETH 1/DP /FCETH /60002934/LA28425270', 'S.TA0120TX01 /S.TA ETH 1/DP /X0AETH/25359495/TELEFSEMO', 'S.TA0120TX01 /S.TA ETH 1/DP /X0AETH/25359495/TELEFSEMO', 'S.TA0120TX01 /S.TA ETH 1/DP /X0AETH/25359495/TELEFSEMO', 'S.TA0120TX01 /S.TA ETH 1/DP /X0AETH/25359495/TELEFSEMO', 'S.TA TR01 /S.TA0006TX01 /SF/S/N51 /0001', 'S.TA TR01 /S.TA0006TX01 /SF/S/N51 /0001', 'S.TA TR01 /S.TA0006TX01 /SF/S/N51 /0001', 'S.TA TR01 /S.TA0006TX01 /SF/S/N51 /0001', 'S.TA /S.TA /DP /FCETH /33309910/LB87850749', 'S.TA /S.TA /DP /FCETH /33309910/LB87850749', 'S.TA /S.TA /DP /X0ETH /17784505/DIRECGEPO', 'S.TA /S.TA /DP /X0ETH /17784505/DIRECGEPO', 'S.TA /S.TA ETH 1/DP /X0AETH/25360579/TELEFSEMO', 'S.TA /S.TA ETH 1/DP /X0AETH/25360579/TELEFSEMO', 'S.TA0050 /S.TA ETH 1/DP /X0ETHD/14033787/JUNTAANDA', 'S.TA0050FO01 /S.SB FUS 1/DP /X0ETH /12498800/JUNTAANDA', 'S.TA TR01 /S.TA0081TX01 /SF/P/N16X2 /0001', 'S.TA TR01 /S.TA0081TX01 /SF/P/N16X2 /0001', 'S.TA0153 /S.TA ETH 1/DP /FCETH /47560896/LB86107406', 'S.TA0273 /S.TA ETH 1/DP /U3ETH /29232869/LB81709081', 'S.TA0134FO01 /S.TA ETH 1/DP /FCETH /14471226/LA85982411', 'S.TA0043TX01 /S.OR FUS 1/DP /X5AETN/23851805/TELEFSEMO', 'S.TA0043TX01 /S.OR FUS 1/DP /X5AETN/23851805/TELEFSEMO', 'S.TA0022 /S.TA ETH 1/DP /X0ETH /36778013/JUNTAANDA', 'S.TA0022 /S.TA ETH 1/DP /X0ETH /36778013/JUNTAANDA', 'S.TA ETH 1/S.TA0043ETH 1/ETH1/N2MMTU/ 000001/TELEFESPA', 'S.TA /S.TA ETH 1/DP /U3BEM /29343753/XFERAMOVI', 'S.TA0023FO01 /S.TA ETH 1/DP /T1MTH /11964258/JUNTAANDA', 'S.TA0023 /S.TA ETH 1/DP /X0ETHD/04431784/JUNTAANDA', 'S.TA0023 /S.TA ETH 1/DP /X0ETHD/04431784/JUNTAANDA', 'S.TA TR01 /S.TA0063TX02 /SF/S/N155 /0001', 'S.TA TR01 /S.TA0063TX02 /SF/S/N155 /0001', 'S.TA0063FO01 /S.TA ETH 1/DP /U3ETH /22421881/MINISDEFE', 'S.TA0310FO01 /S.TA ETH 1/DP /T1ETH /24995979/TECNOSEAG', 'S.TA0260 /S.TA ETH 1/DP /T1ETH /28410718/MINISDEFE', 'S.TA /S.TA ETH 1/DP /X0ETH /47986343/JUNTAANDA', 'S.TA0316 /S.TA ETH 1/DP /FCETH /47228440/JUNTAANDA', 'S.TA0053FO01 /S.TA ETH 1/DP /T1ETH /22067117/LS2801213F', 'S.TA0305TX01 /S.TA ETH 1/DP /U3MTH /42945138/LN0661109I', 'S.TA0310 /S.SB FUS 1/DP /FCETH /40831478/EMPRETRAG', 'S.TA TR01 /S.TA0005TX01 /SF/S/N155 /0001', 'S.TA TR01 /S.TA0005TX01 /SF/S/N155 /0001', 'S.TA /S.TA ETH 1/DP /U3ETH /27035516/LB25352170', 'S.TA0279FO01 /S.TA ETH 1/DP /X0AETH/30950482/TELEFSEMO', 'S.TA0279FO01 /S.TA ETH 1/DP /X0AETH/30950482/TELEFSEMO', 'S.TA TR01 /S.TA0008TX01 /SF/P/N4X2 /0001', 'S.TA TR01 /S.TA0008TX01 /SF/P/N4X2 /0001', 'S.TA0003TX01 /S.TA ETH 1/DP /X0AETH/23849151/TELEFSEMO', 'S.TA0003TX01 /S.TA ETH 1/DP /X0AETH/23849151/TELEFSEMO', 'S.TA /S.TA /DP /X0ETH /24810616/ESTRATEL', 'S.TA /S.TA /DP /X0ETH /24810616/ESTRATEL', 'S.TA FO01 /S.TA ETH 1/DP /FCETH /60949638/JUNTAANDA', 'S.TA0171 /S.SB FUS 1/DP /FCETH /18424152/LS2801213F', 'S.TA0060 /S.TA /DP /X0ETH /11041762/SERVIANSA3', 'S.TA0041 /S.NE ETH 1/DP /FCEBAD/74601091/LS2801213F', 'S.TA /S.TA ETH 1/DP /FCETH /15391262/LS2801213F', 'S.RD0123FO01 /S.TA ETH 1/DP /T1ETHT/22443521/MINISDEFE', 'S.RD0121FO01 /S.TR FUS 2/DP /FCETH /22445477/MINISDEFE', 'S.RD /S.PO ETH 1/DP /T1OENM/69319149/LINCETELE', 'S.TA0326 /S.TA ETH 1/DP /X0ETH /47967876/JUNTAANDA', 'S.TA TR01 /S.TA0039TX01 /SF/P/N16X2 /0001', 'S.TA TR01 /S.TA0039TX01 /SF/P/N16X2 /0001', 'S.RD0016 /PSM.A018 /DP /X0LIPP/34696436/CFR8938347', 'S.RD0016 /PSM.A018 /DP /X0LIPP/34696436/CFR8938347', 'S.RD0016FO03 /S.TA ETH 1/DP /X0ETHD/40984559/CONSTAECA', 'S.RD0016FO03 /S.TA ETH 1/DP /X0ETHD/40984559/CONSTAECA', 'S.TA /S.TA /DP /X0ETH /64471993/JUNTAANDA', 'S.TA0191 /S.TA ETH 1/DP /FCETH /19062871/LS2801213F', 'S.TA0117FO01 /S.TA ETH 1/DP /X0ETH /63137009/AGEESADTR1', 'S.TA0015 /S.TA ETH 1/DP /FCETH /49823582/AUTORPOSE', 'S.TA TR01 /S.TA0117TX01 /SF/S/N155 /0001', 'S.TA TR01 /S.TA0117TX01 /SF/S/N155 /0001', 'S.TA /S.TA /DP /X0AETH/25360577/TELEFSEMO', 'S.TA /S.TA /DP /X0AETH/25360577/TELEFSEMO', 'S.RD /S.TA /DP /WD4H /01120509/TELEFESPA', 'S.RD /S.TA /DP /WD4H /01120509/TELEFESPA', 'S.SB TR01 /S.TA0048TX01 /SF/V/N270 /0001', 'S.SB TR01 /S.TA0048TX01 /SF/V/N270 /0001']

In [16]:
len(codigos)

114

In [24]:
ro_ri = pd.read_excel(r'.\ro_ri.xlsx', header=1)
ro_ri.head(2)

,ID.,TIPO,ASIGNACION,ARBOL,ADMINISTRATIVO,Cliente\ndomicilio,Estado\ntrabajos,Fecha \nFinalizado,TIPO PORTADOR,COMENTARIOS,ORDEN_EN_VUELO,PEP_Número,SGIPE_Actuación,nº BTP,Fecha Corte,Diversificación
0,0.00001,CLIENTES,PYV.AV /S.TA0020 /DP /OPPEFO/02745413/TELEFESPA,E-1 IRIS,6.010503e+13,NaN,NaN,NaN,ACCESO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.00002,CLIENTES,S.AE0088 /S.TA0020CTJ 1/DP /X0ILPP/61335291/JU...,A-9/TR.1,4.110000e+13,NaN,NaN,NaN,ACCESO,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
arbol_cable = 'TR-1 TR-2'
tipo_portador = 'ACCESO'

asigna_unique = set(df_merged.loc[(df_merged['arbol_cable'] == 'TR-1 TR-2') & (df_merged['TIPO PORTADOR'] == 'ACCESO'), 'asigna'])

filtro = (ro_ri['ARBOL'] == arbol_cable) & (ro_ri['TIPO PORTADOR'] == tipo_portador)
resultados = ro_ri.loc[filtro, 'ASIGNACION']

print(len(asigna_unique))
print(len(resultados))

73
69

In [29]:
diferencia = asigna_unique - set(resultados)

In [30]:
diferencia

{'S.RD /S.TA /DP /WD4H /01120509/TELEFESPA',
 'S.SB TR01 /S.TA0048TX01 /SF/V/N270 /0001',
 'S.TA0005 /S.TA ETH 1/DP /T1ETH /33246502/LQ2900463G',
 'S.TA0012 /S.TA0035 /DP /XXILFO/39860693/UNIVESEVI'}